@tailwind base;
@tailwind components;
@tailwind utilities;

.star-item {
    display: inline-block;
    margin-bottom: 6px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 1rem;
    margin-top: -0.6rem;
    pointer-events: auto;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
    border: solid 1px rgb(144, 211, 255);
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 1rem;
    margin-top: -0.6rem;
    pointer-events: auto;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active {
    border: solid 1px rgb(144, 211, 255);
}

input[type="range"]::-ms-thumb {
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 1rem;
    margin-top: -0.6rem;
    pointer-events: auto;
    cursor: pointer;
}

input[type="range"]::-ms-thumb:active {
    border: solid 1px rgb(144, 211, 255);
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}